html {
  scroll-behavior: smooth;
}

:root {
  --branding-color: #65d7d7;
  --secondary-branding-color: #5882bc;
  --neutral-color: #faffeb;
  --secondary-neutral-color: #fec0c18f;
  --girl-color: #fec0c1;
  --dark-color: #0e314f;

  --heading-font-family: "Oooh Baby", cursive;
  --default-font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--neutral-color);
  padding: 0 200px;
}

header {
  position: sticky;
  top: 0;
  background-color: var(--secondary-neutral-color);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 999;
  font-family: var(--default-font-family);
  display: flex;
  justify-content: space-between;
}

header a {
  display: flex;
  align-items: center;
}

.material-symbols-outlined {
  font-size: 40px !important;
  color: var(--dark-color) !important;
}

.small-logo {
  width: 210px;
}

.menuLinks {
  list-style: none;
  display: flex;
  gap: 16px;
}
.menu ul {
  margin-top: revert;
}

.menuLinks li a {
  color: var(--dark-color);
  text-decoration: none;
  transition: all 200ms ease-in-out;
}
.menuLinks li a:hover {
  color: white;
}
.menu {
  align-items: center;
  padding: 5px 35px;
}

.menu-toggle {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  position: sticky;
  top: 0;
}
.newMenu {
  display: none;
  background-color: white;
  margin-right: 0px;
  justify-content: flex-end;
  color: var(--dark-color);
  position: absolute;
  top: 0px;
  padding: 10px;
  z-index: 1000;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.5);
  height: 5900px;
  width: 100%;
  right: 0px;
}
.newMenuLinks {
  border-radius: 10px;
  list-style: none;
  text-align: left;
  width: 200px;
  margin: 0px;
  padding-right: 10px;
  line-height: 50px;
  background-color: white;
  border-left: 1px solid rgba(211, 211, 211, 0.355);
}
.newMenuLinks a {
  text-decoration: none;
  color: var(--secondary-branding-color);
}

.main-homepage {
  padding: 90px 170px;
  text-align: center;
  color: #c4aff1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-homepage h1 {
  font-family: var(--heading-font-family);
  color: var(--dark-color);
  font-weight: 700;
  font-size: 55px;
}

.main-homepage p {
  font-family: var(--default-font-family);
  color: var(--secondary-branding-color);
}

.main-homepage div {
  color: var(--secondary-branding-color);
}

.places-homepage {
  background-color: var(--secondary-neutral-color);
  padding: 70px 250px;
  text-align: center;
}
.places-homepage h1 {
  font-family: var(--heading-font-family);
  font-weight: 700;
  color: var(--dark-color);
}

.cards-grid {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.card-container {
  border: 1px solid lightgray;
  border-radius: 6px;
  width: 200px;
  height: 500px;
  text-align: center;
  background-color: white;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  margin: auto;
}

.card-container h3 {
  font-family: var(--heading-font-family);
  font-weight: 600;
  color: var(--secondary-branding-color);
  font-size: 32px;
}

.card-container p {
  font-family: var(--default-font-family);
  color: var(--secondary-branding-color);
}

.card-container button {
  background-color: white;
  border: 1px solid var(--dark-color);
  font-family: var(--default-font-family);
  color: var(--dark-color);
  padding: 6px 35px;
  border-radius: 6px;
}

footer {
  text-align: center;
  padding: 20px;
  color: var(--secondary-branding-color);
  background-color: var(--neutral-color);
}

@media screen and (max-width: 625px) {
  .menuLinks {
    margin-left: 0px;
  }
  .menu {
    display: none;
  }

  .newMenu.active {
    display: flex;
  }
  .menu-toggle {
    display: block;
  }
}
